@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300&display=swap');

body{
    background-color: #333333;
    font-family: 'Lato', sans-serif;
}


a{
    text-decoration: none;
}

a:visited{
    text-decoration: none;
}